
# georli 
GOERLI_RPC_URL = https://eth-goerli.g.alchemy.com/v2/<your-api-key>
ACCOUNT=<METAMASK ACCOUNT PRIVATE KEY >
#georli API Key
ETHERSCAN_API_KEY=<https://etherscan.io/myapikey>
UPDATE_FRONT_END = true
GOAL = 18
END_DATE = 1672193320
